---
layout: default
---

<script src="/assets/js/redirects.js"></script>
{% include sections/header.html %}
{% include sections/resources.html %}
<h1 id="sponsors" class="anchor"><a href="#sponsors"><i class="fas fa-link anchor-icon"></i></a> 赞助者</h1>

<div class="alert alert-success mb-5" role="alert">
  <strong>新消息！</strong> 将您的品牌作为 PrivacyTools 的赞助商展示，支持我们的使命，创造无大规模监控的世界！<a href="/sponsors/" class="alert-link">了解更多…</a>
</div>
{% include sponsors/gold.html %}
{% include sections/quotes.html %}
{% include sections/privacy-resources.html %}
{% include sections/participate.html %}
