<h1 id="ukusa" class="anchor"><a href="#ukusa"><i class="fas fa-link anchor-icon"></i></a> 全球大规模监控：十四眼国家</h1>

<img src="/assets/img/svg/layout/ukusa.svg" width="260" height="115" class="img-fluid float-right ml-2" alt="UKUSA Agreement">

<p>英美协定是一个在英国、美国、澳大利亚、加拿大和新西兰之间的协定，它允许互相收集、分析和分享情报。该集团的成员国家（被称为<a href="https://www.giswatch.org/en/communications-surveillance/unmasking-five-eyes-global-surveillance-practices">五眼国家</a>），专注于收集和分析世界上其他国家的情报。五眼国家同意不以敌方角色<a href="https://www.pbs.org/newshour/world/an-exclusive-club-the-five-countries-that-dont-spy-on-each-other">监控彼此</a>，而爱德华·斯诺登揭露了一些五眼成员彼此监控对方的公民和<a href="https://www.theguardian.com/uk/2013/jun/21/gchq-cables-secret-world-communications-nsa">分享情报</a>，以<a href="https://www.theguardian.com/politics/2013/jun/10/nsa-offers-intelligence-british-counterparts-blunkett">避免违反国内禁止监视自己公民的法律</a>。五眼联盟也和第三方国家合作，进行分享情报（形成了九眼和十四眼国家）；然而，五眼和第三方国家之间可以彼此监控。</p>

<div class="row mb-3">
  {% include panel.html color="danger"
  title="五眼国家"
  body='
  <ol class="card-ol">
    <li>澳大利亚 <div class="float-right"><span class="flag-icon flag-icon-au"></span></div></li>
    <li>加拿大 <div class="float-right"><span class="flag-icon flag-icon-ca"></span></div></li>
    <li>新西兰 <div class="float-right"><span class="flag-icon flag-icon-nz"></span></div></li>
    <li>英国 <div class="float-right"><span class="flag-icon flag-icon-gb"></span></div></li>
    <li>美国 <div class="float-right"><span class="flag-icon flag-icon-us"></span></div></li>
  </ol>
  '
  %}

  {% include panel.html color="warning"
  title="九眼国家"
  body='
  <ol class="card-ol">
    <li>丹麦 <div class="float-right"><span class="flag-icon flag-icon-dk"></span></div></li>
    <li>法国 <div class="float-right"><span class="flag-icon flag-icon-fr"></span></div></li>
    <li>荷兰 <div class="float-right"><span class="flag-icon flag-icon-nl"></span></div></li>
    <li>挪威 <div class="float-right"><span class="flag-icon flag-icon-no"></span></div></li>
  </ol>
  '
  %}

  {% include panel.html color="secondary"
  title="十四眼国家"
  body='
  <ol class="card-ol">
    <li>比利时 <div class="float-right"><span class="flag-icon flag-icon-be"></span></div></li>
    <li>德国 <div class="float-right"><span class="flag-icon flag-icon-de"></span></div></li>
    <li>意大利 <div class="float-right"><span class="flag-icon flag-icon-it"></span></div></li>
    <li>西班牙 <div class="float-right"><span class="flag-icon flag-icon-es"></span></div></li>
    <li>瑞典 <div class="float-right"><span class="flag-icon flag-icon-se"></span></div></li>
  </ol>
  '
  %}
</div>
