<div class="alert alert-success" role="alert">
  <strong>新消息！</strong> 在美国 <a href="https://opencollective.com/privacytoolsio" class="alert-link">捐款</a> {{ site.name }} 现在可以减税！<a href="https://blog.privacytools.io/privacytools-io-joins-the-open-collective-foundation" class="alert-link">了解更多…</a>
</div>

<div class="jumbotron p-5">
  <h1 class="display-4">
    <a href="{{ site.production_url }}" title="{{ site.name }}">
      <img class="img-fluid d-none d-sm-block" src="/assets/img/svg/layout/brand/horizontal.svg" width="500px" alt="{{ site.name }}">
      <div class="text-center">
        <img class="img-fluid d-sm-none" src="/assets/img/svg/layout/brand/vertical.svg" width="300px" alt="{{ site.name }}">
      </div>
    </a>
  </h1>
  <p class="lead">有人在盯着你。私人和国家支持的组织在监控和记录你的在线活动。{{ site.name }} 提供了保护隐私和对抗全球大规模监控的服务、工具和知识。</p>
</div>

<form method="POST" action="https://search.privacytools.io/" id="search_form" role="search">
<div class="input-group col-12 col-md-8 offset-md-2">
<input type="search" name="q" class="form-control input-lg" id="q" placeholder="尝试 {{ site.name }} 搜索, 尊重隐私的搜索引擎" autocomplete="off" value="">
<span class="input-group-btn">
<button type="submit" class="btn btn-primary input-lg"><span class="hide_if_nojs"><i class="fas fa-search"></i> </span><span class="hidden active_if_nojs">开始搜索</span></button>
</span>
</div>
</form>
