<h1 id="kdl" class="anchor"><a href="#kdl"><i class="fas fa-link anchor-icon"></i></a> 密钥披露法律</h1>

<h3>谁被要求上交加密密钥给政府？</h3>

<p>强制性<a href="https://en.wikipedia.org/wiki/Key_disclosure_law">密钥披露法律</a>（key disclosure laws）要求个体上交加密密钥给执法部门进行犯罪调查。这些法律的实行（可能被合法逼破协助）在国与国之间大不相同，但搜查令通常是必须的。 反抗密钥披露法律的方法包括隐写术（steganography）和以似是而非的否认（plausible deniability）的方法加密数据。</p>  <p><a href="https://en.wikipedia.org/wiki/Steganography">隐写术</a>涉及将敏感数据隐藏在原始数据内（这可能要加密），例如加密一张图片，将它藏在音频文件里。通过似是而非的否认，某种程度上阻止了对手证明了加密的数据存在（例如，一个密码可以解密良性数据，另一个可用于相同文件的密码，可以解密敏感数据）。</p>

<div class="row mb-2">

  {% include panel.html color="danger"
  title="密钥披露法律适用"
  body='
  <ol class="card-ol">
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Antigua_and_Barbuda">安提瓜和巴布达</a> <div class="float-right"><span class="flag-icon flag-icon-ag"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Australia">澳大利亚</a> <div class="float-right"><span class="flag-icon flag-icon-au"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Canada">加拿大</a> <div class="float-right"><span class="flag-icon flag-icon-ca"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#France">法国</a> <div class="float-right"><span class="flag-icon flag-icon-fr"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#India">印度</a> <div class="float-right"><span class="flag-icon flag-icon-in"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Ireland">爱尔兰</a> <div class="float-right"><span class="flag-icon flag-icon-ie"></span></div></li>
    <li><a href="https://edri.org/norway-introduces-forced-biometric-authentication/">挪威</a> <div class="float-right"><span class="flag-icon flag-icon-no"></span></div></li>
    <li><a href="https://www.bloomberg.com/news/articles/2018-03-20/telegram-loses-bid-to-stop-russia-from-getting-encryption-keys">俄罗斯</a> <div class="float-right"><span class="flag-icon flag-icon-ru"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#South_Africa">南非</a> <div class="float-right"><span class="flag-icon flag-icon-za"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#United_Kingdom">英国</a> <div class="float-right"><span class="flag-icon flag-icon-gb"></span></div></li>
  </ol>
  '
  %}

  {% include panel.html color="warning"
  title="密钥披露法律可能适用"
  body='
  <ol class="card-ol">
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Belgium">比利时 *</a> <div class="float-right"><span class="flag-icon flag-icon-be"></span></div></li>
    <li><a href="https://www.riigiteataja.ee/akt/106012016019">爱沙尼亚</a> <div class="float-right"><span class="flag-icon flag-icon-ee"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Finland">芬兰 *</a> <div class="float-right"><span class="flag-icon flag-icon-fi"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#New_Zealand">新西兰</a> （不明） <div class="float-right"><span class="flag-icon flag-icon-nz"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#The_Netherlands">荷兰 *</a> <div class="float-right"><span class="flag-icon flag-icon-nl"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#United_States">美国</a> （见相关信息） <div class="float-right"><span class="flag-icon flag-icon-us"></span></div></li>
  </ol>
  '
  %}

  {% include panel.html color="success"
  title="密钥披露法律不适用"
  body='
  <ol class="card-ol">
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Czech_Republic">捷克共和国</a> <div class="float-right"><span class="flag-icon flag-icon-cz"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Germany">德国</a> <div class="float-right"><span class="flag-icon flag-icon-de"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Iceland">冰岛</a> <div class="float-right"><span class="flag-icon flag-icon-is"></span></div></li>
    <li><a href="https://iclg.com/practice-areas/cybersecurity-laws-and-regulations/italy">意大利</a> <div class="float-right"><span class="flag-icon flag-icon-it"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Poland">波兰</a> <div class="float-right"><span class="flag-icon flag-icon-pl"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Sweden">瑞典</a> （提议） <div class="float-right"><span class="flag-icon flag-icon-se"></span></div></li>
    <li><a href="https://www.wikipedia.org/wiki/Key_disclosure_law#Switzerland">瑞士</a> <div class="float-right"><span class="flag-icon flag-icon-ch"></span></div></li>
  </ol>
  '
  %}

</div>

<p> * （知道如何访问系统的人可能会被命令分享他们的知识，<strong>但是，这不适用于犯罪嫌疑人自身或其家庭成员。</strong>）</p>

<h3>相关信息</h3>

<ul>
  <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law">Wikipedia page on key disclosure law</a></li>
  <li><a href="https://law.stackexchange.com/questions/1523/can-a-us-citizen-be-required-to-provide-the-authentication-key-for-encrypted-dat">law.stackexchange.com question about key disclosure law in US</a></li>
  <li><a href="https://peertube.mastodon.host/videos/watch/e09915eb-5962-4830-a02f-8da5c2b59e71">DEFCON 20: Crypto and the Cops: the Law of Key Disclosure and Forced Decryption</a></li>
</ul>

<h3 id="usa" class="anchor">为什么不推荐选择位于美国的服务？</h3>

<img src="/assets/img/svg/layout/great_seal_of_the_united_states_obverse.svg" width="200" height="200" class="img-fluid float-right ml-3" alt="USA">

<p>不推荐位于美国的服务，因为该国的监控项目和带有封口令的<a href="https://www.eff.org/issues/national-security-letters/faq">国家安全信函</a>（National Security Letters, NSLs）的使用，它禁止了接收者谈论该请求。这种结合使用的方式允许政府<a href="https://www.schneier.com/blog/archives/2013/08/more_on_the_nsa.html">秘密地强迫</a>公司赋予完整的客户数据权限，将这个服务转变为大规模监控工具。</p>

<p>一个例子是拉维比特（Lavabit），一家由拉达尔·利维森（Ladar Levison）创办的安全电子邮件服务。联邦情报局发现斯诺登使用该服务后，请求斯诺等的记录。由于拉维比特不记录日志，电邮内容被加密储存，联邦情报局提供了该服务 SSL 密钥的传票（带有封口令）。有了 SSL 密钥，他们可以实时获取拉维比特所有客户的通讯（包括元数据和未加密内容），而不只是斯诺登的。</p>

<p>最终，利维森上交 SSL 密钥的同时，<a href="https://www.theguardian.com/commentisfree/2014/may/20/why-did-lavabit-shut-down-snowden-email">关闭</a>了服务。接着美国政府<a href="https://www.cnbc.com/id/100962389">威胁逮捕利维森</a>，称关闭服务违反了法令。</p>

<h3>相关信息</h3>

<ul>
  <li><a href="https://www.bestvpn.com/the-ultimate-privacy-guide/#avoidus">Avoid all US and UK based services</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Surespot#History">Proof that warrant canaries work based on the surespot example.</a></li>
  <li><a href="https://en.wikipedia.org/wiki/UKUSA_Agreement">The United Kingdom – United States of America Agreement (UKUSA)</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Lavabit#Suspension_and_gag_order">Lavabit: Suspension and gag order</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law">Key disclosure law</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Portal:Mass_surveillance">Wikipedia Portal: Mass_surveillance</a></li>
</ul>
