<h1 id="os" class="anchor">隐私工具</h1>

<p><a href="/classic/"><i class="fas fa-info-circle"></i> 喜欢经典式网站？浏览单页页面。</a></p>

<div class="row">

  {% include card.html color="success"
  title="提供商"
  icon="fas fa-server"
  iconcolor="dark"
  page="/providers/"
  description="发现注重隐私的在线服务，包括电子邮件提供商，VPN 运营商，DNS 管理员等等。"
  %}

  {% include card.html color="primary"
  title="浏览器"
  icon="far fa-compass"
  iconcolor="dark"
  page="/browsers/"
  description="发现尊重隐私的浏览器，浏览如何加固浏览器，防止跟踪和泄漏。"
  %}

  {% include card.html color="warning"
  title="软件"
  icon="far fa-window-restore"
  iconcolor="dark"
  page="/software/"
  description="探索多种开源软件，他们为保护隐私和数据安全而生。"
  %}

  {% include card.html color="info"
  title="操作系统"
  icon="fas fa-desktop"
  iconcolor="dark"
  page="/operating-systems/"
  description="了解你的操作系统是如何损害隐私的，以及其替代品。"
  %}

  {% include card.html color="secondary"
  title="PrivacyTools 服务"
  icon="far fa-eye-slash"
  iconcolor="dark"
  page="/services/"
  description="PrivacyTools 团队自豪地开设了一系列注重隐私的在线服务，包括长毛象实例、搜索引擎以及更多！"
  %}

  {% include card.html color="danger"
  title="捐款"
  icon="fas fa-donate"
  iconcolor="dark"
  page="/donate/"
  description="如果没有访客的慷慨捐助，我们无法运营本站。如果你热爱隐私，考虑给我们捐款吧。"
  %}

</div>
