<h1 id="wc" class="anchor"><a href="#wc"><i class="fas fa-link anchor-icon"></i></a> 什么是金丝雀安全声明？</h1>

<img src="/assets/img/svg/layout/warrant_canary_example.svg" width="450px" class="img-fluid float-right ml-3" alt="Warrant Canary Example">

<p>金丝雀安全声明（warrant canary）是一种声明某组织在特定时间段内没有收到任何秘密传票的张贴文件。如果文件在特定时间段内没有更新，用户应当假设该服务收到了类似传票，并当停止使用此服务。</p>

<h4>金丝雀安全声明样例：</h4>

<ol>
  <li><a href="https://proxy.sh/canary">https://proxy.sh/canary</a></li>
  <li><a href="https://www.ivpn.net/resources/canary.txt">https://www.ivpn.net/resources/canary.txt</a></li>
  <li><a href="https://www.bolehvpn.net/canary.txt">https://www.bolehvpn.net/canary.txt</a></li>
  <li><a href="https://www.ipredator.se/static/downloads/canary.txt">https://www.ipredator.se/static/downloads/canary.txt</a></li>
</ol>

<h4>金丝雀安全声明相关信息</h4>

<ul>
  <li><a href="https://www.eff.org/deeplinks/2014/04/warrant-canary-faq">Warrant Canary Frequently Asked Questions</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Warrant_canary#Companies_and_organizations_with_warrant_canaries">Companies and organizations with warrant canaries</a></li>
  <li><a href="https://www.schneier.com/blog/archives/2015/03/australia_outla.html">Warrant canary criticism by Bruce Schneier and an example of a law against warrant canaries.</a></li>
</ul>
