<footer>

  <hr class="footer-divider" />

  <h3 id="participate">分享并帮助你的朋友们</h3>

  <div class="row mb-4">
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="mailto:?subject=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&body={{ site.production_url }}/" class="share-btn email" title="Email">
        <i class="fas fa-envelope"></i>
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.production_url }}" class="share-btn facebook" title="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a href="https://twitter.com/share?text=Knowledge%20and%20tools%20to%20protect%20your%20privacy%20against%20global%20mass%20surveillance%20&amp;url={{ site.production_url }}/&amp;via=privacytoolsIO" class="share-btn twitter" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a>

      <a href="https://sharetomastodon.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url={{ site.production_url }}" class="share-btn mastodon" title="Mastodon">
        <i class="fab fa-mastodon"></i>
      </a>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="https://reddit.com/submit?url={{ site.production_url }}&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn reddit" title="reddit">
        <i class="fab fa-reddit-alien"></i>
      </a>

      <a href="https://www.linkedin.com/shareArticle?url={{ site.production_url }}&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn linkedin" title="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <a href="https://mix.com/mixit?su=submit&url={{ site.production_url }}&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn mix" title="Mix">
        <i class="ptio-mix"></i>
      </a>

      <a href="https://sharetodiaspora.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url={{ site.production_url }}" class="share-btn diaspora" title="Diaspora*">
        <i class="fas fa-asterisk"></i>
      </a>
    </div>
  </div>

  <h3>复制 URL 及其描述</h3>

  <p>
  <input type="text" value="{{ site.name }} - 加密和对抗全球大规模监控的工具 - {{ site.production_url }}" class="form-control input-lg onclick-select">
  <span class="help-block">分享这段文本，它方便复制和粘贴。</span>
  </p>

  <hr class="footer-divider" />

  <div class="row mt-3">
    <div class="col-sm-4 mb-3 d-flex justify-content-center align-items-center">
      <span class="fab fa-creative-commons-zero fa-2x mr-2"></span>
      <a
        href="/LICENSE.txt"
        title="This work is free. You can redistribute it and/or modify it under the terms of the &quot;Creative Commons CC0 1.0 Universal Public Domain Dedication&quot;."
        data-toggle="tooltip"
        data-placement="top">
        CC0
      </a>
    </div>

    <div class="col-sm-4 mb-3 d-flex justify-content-center align-items-center">
      <span class="far fa-address-card fa-2x mr-2"></span>
      <a href="/about/">关于我们</a>
    </div>

    <div class="col-sm-4 mb-3 d-flex justify-content-center align-items-center">
      <span class="fas fa-donate fa-2x mr-2"></span>
      <a href="/donate/" data-toggle="tooltip" data-placement="top" data-original-title="Please support this project by donating. We are ad-free and not affiliated with any providers. Your donation will cover our costs for servers and domains.">支持我们！</a>
    </div>
  </div>

  <div class="copyright-text">
    <a href="/about/javascript" data-jslicense="1">
      <span class="fab fa-js fa-lg"></span>
      JavaScript 许可证
    </a>
    <p class="mt-2">
      <strong>无广告、无谷歌分析、无推广、无跨站请求。</strong>
      <em>{{ site.name }} 是一个以社会为导向的网站，它提供了保护数据安全与隐私的信息。永远不要用自己的隐私去信任任何公司，永远加密。</em>
    </p>
    <p class="text-left">
      Tor v3: <strong>privacy2zbidut4m4jyj3ksdqidzkw3uoip2vhvhbvwxbqux5xy5obyd.onion</strong>
      （<a href="https://write.privacytools.io/jonah/tor-on-privacytools-io">了解更多</a>）
    </p>
    <p class="text-left">
      本简体中文网页由 Tom &lt;hxxtom@gmail.com&gt; 根据 <a href="https://github.com/tomac4t/privacytools.io/tree/ee03264051120cfb46fb9f54144552d262f0f37b"><code>f0f37b</code></a> 版本完成翻译。
    </p>
    <small>
      <a href="/privacy/">隐私申明</a> |
      <a href="/notices/">告示&amp;免责申明</a> |
      <a href="https://github.com/privacytoolsIO/brand">品牌资产&amp;指导方针</a>
    </small>

  </div>
</footer>
