<nav class="fixed-top bg-dark">
  <div id="navbar" class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="w-50">
      <a id="nav-home-mobile" class="nav-anchor" href="/index.html">
        <img src="/assets/img/svg/layout/brand/horizontal.svg" width="150px" />
      </a>
    </div>
    <input type="checkbox" id="nav-toggle" checked />
    <label for="nav-toggle" id="nav-toggle-label" class="fas fa-bars fa-lg"></label>

    <div class="menu w-100">
      <div id="nav-left" class="position-relative flex-col">
        <a class="nav-anchor" href="/index.html">
          <span id="nav-home" class="fas fa-home fa-fw"></span>
        </a>

        <!-- Provider -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              提供商
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="/providers/#ukusa"><span class="fas fa-user-secret fa-fw"></span> 避免美国英国服务</a>
            <a class="dropdown-item" href="/providers/cloud-storage/"><span class="fas fa-cloud fa-fw"></span> 云储存</a>
            <a class="dropdown-item" href="/providers/dns/"><span class="fa fa-tasks fa-fw"></span> 域名解析服务器</a>
            <a class="dropdown-item" href="/providers/email/"><span class="fas fa-mail-bulk fa-fw"></span> 电子邮箱</a>
            <a class="dropdown-item" href="/providers/hosting/"><span class="fas fa-database fa-fw"></span> 网站托管</a>
            <a class="dropdown-item" href="/providers/paste/"><span class="fas fa-paste fa-fw"></span> 粘贴板</a>
            <a class="dropdown-item" href="/providers/search-engines/"><span class="fas fa-search fa-fw"></span> 搜索引擎</a>
            <a class="dropdown-item" href="/providers/social-networks/"><span class="fas fa-expand-arrows-alt fa-fw"></span> 社交网站</a>
            <a class="dropdown-item" href="/providers/social-news-aggregator/"><span class="far fa-newspaper fa-fw"></span> 社交新闻聚合器</a>
            <a class="dropdown-item" href="/providers/vpn/"><span class="far fa-eye-slash fa-fw"></span> 虚拟专用网络</a>
          </span>
        </details>

        <!-- Browser -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              浏览器
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="/browsers/#browser"><span class="fas fa-check fa-fw"></span> 推荐</a>
            <a class="dropdown-item" href="/browsers/#fingerprint"><span class="fas fa-fingerprint fa-fw"></span> 指纹信息</a>
            <a class="dropdown-item" href="/browsers/#webrtc"><span class="far fa-eye fa-fw"></span> WebRTC IP 泄漏</a>
            <a class="dropdown-item" href="/browsers/#addons"><span class="far fa-list-alt fa-fw"></span> 浏览器扩展</a>
            <a class="dropdown-item" href="/browsers/#about_config"><span class="fas fa-wrench fa-fw"></span> 火狐技巧</a>
          </span>
        </details>

        <!-- Software -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              软件
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="/software/calendar-contacts/"><span class="fas fa-calendar fa-fw"></span> 日历/联系人同步工具</a>
            <a class="dropdown-item" href="/software/notebooks/"><span class="far fa-sticky-note fa-fw"></span> 数字笔记</a>
            <a class="dropdown-item" href="/software/email/"><span class="fas fa-envelope fa-fw"></span> 电子邮件客户端</a>
            <a class="dropdown-item" href="/software/encryption-tools/"><span class="fas fa-lock fa-fw"></span> 文件加密</a>
            <a class="dropdown-item" href="/software/file-sharing/"><span class="fas fa-file-export fa-fw"></span> 文件分享</a>
            <a class="dropdown-item" href="/software/file-sync/"><span class="fas fa-copy fa-fw"></span> 文件同步</a>
            <a class="dropdown-item" href="/software/productivity/#metadata-removal-tools"><span class="far fa-eye-slash fa-fw"></span> 元数据删除工具</a>
            <a class="dropdown-item" href="/software/passwords/"><span class="fas fa-user-lock fa-fw"></span> 密码管理器</a>
            <a class="dropdown-item" href="/software/productivity/"><span class="fas fa-briefcase fa-fw"></span> 生产力工具</a>
            <a class="dropdown-item" href="/software/real-time-communication/"><span class="fas fa-comments fa-fw"></span> 实时通讯</a>
            <a class="dropdown-item" href="/software/networks/"><span class="fas fa-user-secret fa-fw"></span> 自有网络</a>
            <a class="dropdown-item" href="/software/cloud/"><span class="fas fa-hdd fa-fw"></span> 自托管云服务</a>
          </span>
        </details>

        <!-- OS -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              操作系统
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="/operating-systems/#os"><span class="fas fa-th-large fa-fw"></span> PC 系统</a>
            <a class="dropdown-item" href="/operating-systems/#live_os"><span class="fas fa-compact-disc fa-fw"></span> PC Live 系统</a>
            <a class="dropdown-item" href="/operating-systems/#mobile_os"><span class="fas fa-mobile-alt fa-fw"></span> 手机系统</a>
            <a class="dropdown-item" href="/operating-systems/#aaddons"><span class="fas fa-th fa-fw"></span> 安卓隐私扩展</a>
            <a class="dropdown-item" href="/operating-systems/#firmware"><span class="fas fa-signal fa-fw"></span> 路由器固件</a>
            <a class="dropdown-item" href="/operating-systems/#win10"><span class="far fa-thumbs-down fa-fw"></span> 不要使用 Windows 10</a>
          </span>
        </details>

        <a class="nav-anchor" href="/index.html#participate">参与</a>
      </div>

      <!-- Language -->
      <div id="nav-right">

        <a href="/services/" class="nav-anchor">
          服务
        </a>
        <a href="https://blog.privacytools.io/" class="nav-anchor">
          博客
        </a>
        <a href="/sponsors/" class="nav-anchor">
          赞助者
        </a>
        <a href="/about/" class="nav-anchor">
          关于我们
        </a>
        <span id="nav-switch-theme" class="nav-anchor">
          <span class="nav-theme-icon fas fa-fw" aria-hidden="true" title="Theme"></span>
          <span class="sr-only">切换主题</span>
        </span>

        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              <span class="fas fa-language text-danger fa-fw" aria-hidden="true" title="Language"></span>
              <span class="sr-only">语言选择</span>
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a href="https://www.privacytools.io/" class="dropdown-item">English</a>
            <a href="https://privacytools.twngo.xyz/" rel="nofollow noopener" class="dropdown-item">繁體中文</a>
            <a href="https://victorhck.gitlab.io/privacytools-es/" rel="nofollow noopener" class="dropdown-item">Español</a>
            <a href="https://pl.privacytools.io/" rel="nofollow noopener" class="dropdown-item">Polski</a>
            <a href="https://www.privacidade.digital/" rel="nofollow noopener" class="dropdown-item">Português</a>
            <a href="https://privacytools.it-sec.rocks/" rel="nofollow noopener" class="dropdown-item">Deutsch</a>
            <a href="https://privacytools-it.github.io/" rel="nofollow noopener" class="dropdown-item">Italiano</a>
            <a href="https://privacytools.ru" rel="nofollow noopener" class="dropdown-item">Русский</a>
            <a href="https://privacytools.dreads-unlock.fr" rel="nofollow noopener" class="dropdown-item">Français</a>
          </span>
        </details>
      </div>
    </div>
  </div>
</nav>
