---
layout: page
permalink: /providers/
title: "服务商"
description: "网络上有大量的人提供着服务。了解哪些服务是你应当避免的，同时查看我们推荐的多种服务。"
---

<h1 id="os" class="anchor">服务</h1>

<p>点击任意服务，查看我们的推荐列表。</p>

<div class="card card-list">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/providers/cloud-storage/"><span class="fas fa-cloud fa-fw"></span> 云储存</a></li>
    <li class="list-group-item"><a href="/providers/dns/"><span class="fa fa-tasks fa-fw"></span> DNS</a></li>
    <li class="list-group-item"><a href="/providers/email/"><span class="fas fa-mail-bulk fa-fw"></span> 电子邮箱</a></li>
    <li class="list-group-item"><a href="/providers/hosting/"><span class="fas fa-database fa-fw"></span> 主机托管</a></li>
    <li class="list-group-item"><a href="/providers/paste/"><span class="fas fa-paste fa-fw"></span> Pastebins</a></li>
    <li class="list-group-item"><a href="/providers/search-engines/"><i class="fas fa-search fa-fw"></i> 搜索引擎</a></li>
    <li class="list-group-item"><a href="/providers/social-networks/"><span class="fas fa-expand-arrows-alt fa-fw"></span> 社交网络</a></li>
    <li class="list-group-item"><a href="/providers/social-news-aggregator/"><span class="far fa-newspaper fa-fw"></span> 新闻聚合器</a></li>
    <li class="list-group-item"><a href="/providers/vpn/"><span class="far fa-eye-slash fa-fw"></span> VPN</a></li>
  </ul>
</div>

{% include sections/fourteen-eyes.html %}

{% include sections/key-disclosure-law.html %}

{% include sections/warrant-canary.html %}
